@{
	string id = ViewData["modal-sua-id"]?.ToString() ?? throw new NullReferenceException();
	id = id + "--duallistbox";
}
<!-- Begin Index.Partial.Sua.HocSinh -->
<div class="card card-default">
	<div class="card-header">
		<h3 class="card-title">Danh sách học sinh</h3>
		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse">
				<i class="fas fa-minus"></i>
			</button>
			<button type="button" class="btn btn-tool" data-card-widget="remove">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<select id="@id" class="duallistbox" multiple="multiple">
						<option selected>Alabama</option>
						<option>Alaska</option>
						<option>California</option>
						<option>Delaware</option>
						<option>Tennessee</option>
						<option>Texas</option>
						<option>Washington</option>
					</select>
				</div>

			</div>

		</div>

	</div>

	<div class="card-footer">
	</div>
</div>

<script>
	window.addEventListener('load', function () {
		$('#@id').bootstrapDualListbox({
			nonSelectedListLabel: 'Danh sách học sinh',
			selectedListLabel: 'Trong lớp',
		});
	});
</script>
<!-- End Index.Partial.Sua.HocSinh -->