@inject IOptions<Client.ThietLap.MayChuApi> MayChuApi
<script>
	window.addEventListener('load', function () {
		$('#@(@ViewData["bang-id"])').DataTable({
			responsive: true,
			autoWidth: false,
			ajax: {
				url: '@(MayChuApi.Value.DiaChi)/api/truongthongtinnguoidung',
				type: 'GET',
				dataSrc: ''
			},
			columns: [
				{
					data: null,
					render: function (_, _, _, rowIndex, colIndex) {
						return rowIndex.row + 1;
					}
				},
				{
					data: "ten"
				},
				{
					data: "alias"
				},
				{
					data: "kieuDuLieu"
				},
				{
					data: null,
					createdCell: function (td, cellData, rowData, rowIndex, colIndex) {
						td.style.width = '1%';
						td.style.whiteSpace = 'nowrap';
					},
					render: function (data, _, row, _) {
						return `
                            <button class="btn btn-info" data-toggle="modal" data-target="#@ViewData["modal-xem-id"]" onclick="window['obj-@ViewData["modal-xem-id"]'].nap('${data.id}');">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#@ViewData["modal-sua-id"]" onclick="window['obj-@ViewData["modal-sua-id"]'].nap('${data.id}');">
                                <i class="fa fa-pen"></i>
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#@ViewData["modal-xoa-id"]" onclick="window['obj-@ViewData["modal-xoa-id"]'].nap('${data.id}');">
                                <i class="fa fa-trash"></i>
                            </button>
                            `;
					}
				}
			]
		});

	});
</script>