<script>
    window.addEventListener('load', function () {
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })

        let modalXem = document.getElementById('modal-xem');


        $('#table').DataTable({
            responsive: true,
            autoWidth: false,
            ajax: {
                url: '/api/sidebarnavitem',
                type: 'GET',
                dataSrc: ''
            },
            columns: [
                {
                    data: "order"
                },
                {
                    data: "name"
                },
                {
                    data: "active"
                },
                {
                    data: "useUrl",
                    render: function (data, _, row, _) {
                        if (data == false) {
                            let url = `${row.controller}/${row.action}`;
                            if (row.area)
                                url = `${row.area}/` + url;
                            return url;
                        }
                        return data;
                    }
                },
                {
                    data: null,
                    createdCell: function (td, cellData, rowData, rowIndex, colIndex) {
                        td.style.width = '1%';
                        td.style.whiteSpace = 'nowrap';
                    },
                    render: function (data, _, row, _) {
                        return `
                            <button class="btn btn-info" data-toggle="modal" data-target="#modal-xem">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-primary">
                                <i class="fa fa-pen"></i>
                            </button>
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            `;
                    }
                }
            ]
        });

    });
</script>